@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body {
  font-family: 'Roboto Mono';
}
.main-container {
  height: 100%;
}
nav {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  background: #eee;
}
.navigation ul li{
  display: inline-block;
}
.header {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  background: lightblue;
}
.aboutme {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: lightcoral;
}
.tech-stack {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: lightgoldenrodyellow;
}
.projects {
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: lightseagreen;
}
.project-box {
  height: 150px;
  width: 150px;
  background: palevioletred;
}
.contact {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: lightsalmon;
}
footer {
  height: 140px;
  background: lightgreen;
}